.project {
  max-width: 60ch;
  // margin: 12rem 0 3rem;

  & > h3 {
    font-size: 2.3rem;
    line-height: 1.1;
    margin-bottom: 0;
    font-weight: normal;
  }

  & > .project-date {
    color: var(--light-gray);
    margin-bottom: 1.5rem;
  }

  & > p {
    margin-bottom: 4rem;
  }

  & span {
    color: var(--accent);
    font-family: var(--medium);
  }

  $box-shadow-color: rgba(0, 0, 0, 0.1);

  & img {
    position: relative;
    border: 7px solid white;
    max-width: 60ch;
    border-radius: 1.5rem;
    box-shadow:
      0 4px  4px  $box-shadow-color,
      0 8px  8px  $box-shadow-color,
      0 16px 16px $box-shadow-color;
    transition: all 200ms;

    &:hover {
      box-shadow: none;
      cursor: pointer;
      transform: scale(1.01);
    }
  }
}
