.projects {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  height: 100%;

  // hide scroll bar
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
