.hero-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 13px;
}

.hero-link-wrapper {
  position: relative;
  padding: 0.5rem 0.75rem;

  &:hover .hover-link {
    display: flex;
  }
}

.hover-link {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0.5rem 0.25rem 0.75rem;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  align-items: center;

  & > p {
    font-family: var(--medium);
    font-size: 1.125rem;
    margin-right: 0.75rem;
    white-space: nowrap;
    color: black;
  }

  & > a {
    padding: 0.25rem;
    border-radius: 0.625rem;

    &:hover {
      background: lightgray;
    }
  }

  & > div {
    padding: 0.25rem;
  }
}
