.hero {
  width: 100%;
  height: calc(100vh - 4.75rem);
  max-width: 86.875rem;
  min-height: 45rem;
  max-height: 1080px;
  display: flex;
  padding: 0 2rem;
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: 4.75rem;

  @media only screen and (min-width: 615px) {
    padding: 0 4.375rem;
  }

  @media only screen and (min-width: 850px) {
    padding-bottom: 10rem;
    margin-top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero-info {
    padding-bottom: calc(10rem + 44px);
    margin: auto 0;
    
    & > h1 {
      font-size: clamp(2rem, 22vw, 7rem);
      line-height: 0.9;
      letter-spacing: 0.04em;
      max-width: 6ch;
      margin-block: 0;
      margin-bottom: 3rem;
      transform: translateX(-0.03em);
    }

    & > p {
      font-size: clamp(14px, 4vw, 1.5rem);
      font-weight: 600;
      letter-spacing: 0.045em;
      max-width: 30ch;
      transition: all 400ms ease-out 0ms;

      & > a {
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media only screen and (min-width: 850px) {
      padding-bottom: 0;
      margin: 0;
    }
  }

  /* & > img {
    display: none;
    object-fit: cover;
    width: 100%;
    min-width: 20rem;
    max-width: 35rem;

    @media only screen and (min-width: 850px) {
      display: block;
    }
  } */
}
