@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
}

:root {
  --accent: #541c8c;
  --secondary: #ffd700;
  --medium: Roboto-Medium;
  --bold: Roboto-Bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  // outline: 3px solid black;
}

.home-page {
  position: relative;
  // max-width: 82.5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
