@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

:root {
  --accent: #7067df;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto;
  // outline: 3px solid black;
}

.home-page {
  position: relative;
  max-width: 82.5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
