@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Pacifico-Regular';
  src: url('../assets/fonts/pacifico/Pacifico-Regular.ttf');
}

:root {
  --accent: #605bcb;
  // --accent: #2e26d8;
  // --accent: #541c8c;
  --secondary: #ffd700;
  --dark: #07070f;
  --medium: Roboto-Medium;
  --bold: Roboto-Bold;
  --crazy-font: Pacifico-Regular;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  // outline: 3px solid black;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

.home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  background: var(--accent);
  padding-left: 4rem;
  min-height: 45rem;
  max-height: 65rem;
  height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#body {
  padding: 5rem 0 5rem 4.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > section {
    margin-bottom: 5rem;
  }

  & > section:last-child {
    margin-bottom: 0;
  }
}
