@custom-media --tiny-mobile (min-width: 360px);
@custom-media --mobile      (min-width: 500px);
@custom-media --big-mobile  (min-width: 615px);
@custom-media --tablet      (min-width: 850px);
@custom-media --half        (min-width: 959px);
@custom-media --random      (min-width: 1070px);
@custom-media --wide        (min-width: 1200px);
@custom-media --super-wide  (min-width: 1300px);

:root {
  --color: #1a202c;
  --background: white;
  --contact-background: rgba(255, 255, 255, 0.75);
  --accent: #605bcb;
  --light-gray: #9c9c9c;
  --default-border-radius: 10px;
  --box-shadow-color: rgba(0, 0, 0, 0.24);
}

:root[theme='dark'] {
  --color: white;
  --background: #1a202c;
  --contact-background: rgba(99, 99, 99, 0.75);
  --box-shadow-color: rgba(77, 77, 77, 0.24);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px dotted red; */
}

html {
  font-family: 'Nunito';
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background-color: var(--background);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 999px;
  border: 3px solid var(--background);

  &:hover {
    background-color: rgb(110, 110, 110);
  }
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img, svg {
  display: block;
}

button {
  font-family: 'Nunito';
}

.theme-transition,
.theme-transition *,
.theme-transition *::before,
.theme-transition *::after {
  transition: all 400ms ease-out 0ms !important;
}

.home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--background);
  color: var(--color);

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  main {
    padding-bottom: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  section {
    width: 100%;
    max-width: 86.875rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
  
    @media only screen and (--big-mobile) {
      padding: 3rem 4.375rem;
      margin-bottom: 10rem;
    }
  }

  section:last-child {
    margin-bottom: 0;
  }

  section > h2 {
    line-height: 1;
    word-wrap: break-word;
    font-size: min(27vw, 11rem);
    font-weight: bold;
    margin-bottom: min(15vh, 8rem);
    color: var(--accent);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color);
    opacity: 0;
    transform: translateX(200px);
    transition: all 400ms ease-out;
  
    &::after {
      content: '/';
    }
  }
}
