@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Pacifico-Regular';
  src: url('../assets/fonts/pacifico/Pacifico-Regular.ttf') format('truetype');
}

@custom-media --tiny-mobile (min-width: 360px);
@custom-media --mobile      (min-width: 500px);
@custom-media --big-mobile  (min-width: 615px);
@custom-media --tablet      (min-width: 850px);
@custom-media --half        (min-width: 959px);
@custom-media --random      (min-width: 1050px);
@custom-media --wide        (min-width: 1200px);
@custom-media --super-wide  (min-width: 1300px);

:root {
  --accent: #605bcb;
  --secondary: #ffd700;
  --dark: black;
  --light-gray: rgb(156, 156, 156);
  --medium: Roboto-Medium;
  --bold: Roboto-Bold;
  --crazy-font: Pacifico-Regular;
  --default-border-radius: 1.5rem;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background-color: #fbf7ff;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 999px;
  border: 3px solid white;

  &:hover {
    background-color: rgb(110, 110, 110);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  /* outline: 1px dotted red; */
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding-bottom: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  max-width: 86.875rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;

  @media only screen and (--big-mobile) {
    padding: 3rem 4.375rem;
    margin-bottom: 5rem;
  }
}

section:last-child {
  margin-bottom: 0;
}

section > h2 {
  font-size: 2rem;
  font-family: var(--bold);
  color: var(--accent);
  margin-bottom: 3rem;

  &::after {
    content: '/';
  }

  @media only screen and (--tiny-mobile) {
    & {
      font-size: 3rem;
    }
  }

  @media only screen and (--tablet) {
    & {
      font-size: 4rem;
    }
  }
}

.home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #fbf7ff;
  background-image: radial-gradient(rgb(210, 210, 210) 1px, transparent 0);
  background-size: 22px 22px;
}
