#contact {
}

form {
  width: 100%;
  max-width: 46rem;
  padding: 3rem 6rem;
  margin: 0 auto;
  background: white;
  border-radius: var(--default-border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

label p {
  font-family: var(--medium);
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
}

input, textarea {
  width: 100%;
  padding: 0 1.5rem;
  border: none;
  font-size: 1rem;
  outline: none;

  &::placeholder {
    color: var(--light-gray);
  }
}

textarea {
  resize: vertical;
  height: 15rem;
}

input[type=submit] {
  font-family: var(--medium);
  align-self: flex-start;
  width: initial;
  padding: 1rem 3rem;
  margin-left: 0;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  background: var(--accent);
  color: white;

  &:hover {
    cursor: pointer;
  }
}
