footer {
  padding: 2rem 2rem 1rem;
  background: black;
  color: var(--light-gray);
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer-content-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & * {
      text-align: left;
      line-height: 2;
    }

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > h3 {
        color: #dbdbdb;
        letter-spacing: 1.4px;
        margin-bottom: 0.6em;
        margin: 0 2rem;
      }

      & > ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > li {
          /* makes highlighting text easier */
          margin: 0 2rem;
          
          & > a {
            color: var(--light-gray);
    
            &:hover {
              text-decoration: underline;
            }
          }

          & > button {
            line-height: revert;
            padding: 0.4rem 0.8rem;
            margin-top: 7px;
            border: none;
            border-radius: 6px;
            color: white;
            background: var(--accent);
            transition: all 200ms;

            &:hover {
              cursor: pointer;
              background: #464298;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 500px) {
      gap: 0;
      width: 100%;
      max-width: 100rem;
      flex-direction: row;
      justify-content: space-evenly;

      & > div {
        align-items: flex-start;

        & > ul {
          align-items: flex-start;
        }
      }
    }
  }

  .copywrite {
    margin-top: 2rem;
    font-size: 12px;
  }
}
