#experience {
  width: 100%;
  max-width: 82.5rem;
  display: flex;
  flex-direction: column;

  & > h2 {
    font-size: 4rem;
    font-family: var(--bold);
    color: var(--accent);
    margin-bottom: 3rem;
  }
}
