.nav {
  display: none;
  width: 100%;
  max-width: 86.875rem;
  height: 3.75rem;
  padding: 0 4.375rem;
  align-items: center;
  margin-top: 1rem;
  gap: 1.625rem;

  @media only screen and (--tablet) {
    display: flex;
  }

  @media only screen and (--half) {
    gap: 2.625rem;
  }

  .nav-logo {
    max-width: 8rem;
    margin-right: auto;
  }

  .nav-link-list {
    display: flex;
    align-items: center;

    & > li {
      margin-right: 1rem;
    }

    & > li:last-child {
      margin-right: 0;
    }

    & a {
      letter-spacing: 0.04em;
      color: var(--color);
      padding: 0.625rem;
      font-size: 1.25rem;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }

      &::after {
        content: '/';
      }
    }

    @media only screen and (--half) {
      & > li {
        margin-right: 2rem;
      }
    }
  }

  .dark-theme-toggle {
    cursor: pointer;
    width: 30px;
    display: block;

    & > svg {
      fill: var(--color);
    }

    & > input {
      display: none;
    }
  }
}
