.nav {
  width: 100%;
  max-width: 82.5rem;
  height: 3.75rem;
  margin-top: 2rem;
  padding-left: 4rem;
  display: flex;
  align-items: center;
}

.nav-link-list {
  list-style-type: none;
  display: flex;
  align-items: center;

  & > li {
    margin-right: 2rem;
  }

  & > li:last-child {
    margin-right: 0;
  }

  & a {
    text-decoration: none;
    letter-spacing: 0.04em;
    color: var(--dark);
    padding: 0.625rem;
    font-size: 1.25rem;
    font-family: var(--medium);

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: '/';
    }
  }
}
